<div class="container mt-5" style="margin-left: 200px;">
  <div class="card">
      <div class="card-header">
        Login Form
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <h5>You Can Login</h5>
            <div class="form-group">
              <label for="username">Name:</label>
              <input
                [(ngModel)]="model.Username"
                class="form-control "
                id="username"
                name="Username"
                placeholder="User"
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                [(ngModel)]="model.Password"
                class="form-control"
                id="password"
                name="Password"
                placeholder="Password"
                type="password"
              />
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
