<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Calendar App</a>

    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>

    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a *ngIf="authService.loggedIn()" class="dropdown-item" (click)="logout()">
          <i class="fa fa-user"></i> Log out</a>
        <a *ngIf="authService.loggedIn() != true" class="dropdown-item" [routerLink]="['/login']">
          <i class="fa fa-sign-out"></i> Login</a>
      </div>
    </div>
  </div>
</nav>