
<br/>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      Elevators
    </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col" class="tblHeader">Date of Apointment</th>
              <th scope="col" class="tblHeader" >Description</th>
              <th scope="col" class="tblHeader" >Last Updated</th>
            </tr>
          </thead>
          <tbody class="tblBody">
            <tr *ngFor="let elevator of elevators">                
              <td>{{elevator.elevatorId}}</td>
              <td>{{elevator.status}}</td>
              <td>{{elevator.lastUpdated}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>